services:
  - type: web
    name: fiap-eml-api
    env: python
    plan: free
    buildCommand: |
      curl -LsSf https://astral.sh/uv/install.sh | sh
      cd api
      uv sync
    startCommand: |
      cd api
      uv run uvicorn api_main:app --host 0.0.0.0 --port 10000
    envVars:
      - key: DB_HOST
        sync: false
      - key: DB_PORT
        sync: false
      - key: DB_NAME
        sync: false
      - key: DB_USER
        sync: false
      - key: DB_PASS
        sync: false
